In [2]:
import pandas as pd
import os

path = "../data/raw/products_raw.csv"

if os.path.getsize(path) == 0:
    raise ValueError("CSV file is empty. Check crawler output.")

df = pd.read_csv(path)
df.head()

   product_name              category price  supplier_name  supplier_location
0           NaN  industrial-machinery   NaN            NaN                NaN
1           NaN  industrial-machinery   NaN            NaN                NaN
2           NaN  industrial-machinery   NaN            NaN                NaN
3           NaN  industrial-machinery   NaN            NaN                NaN
4           NaN  industrial-machinery   NaN            NaN                NaN

In [3]:
df.drop_duplicates(inplace=True)

df["price"] = (
    df["price"]
    .astype(str)
    .str.replace("₹", "", regex=False)
    .str.replace(",", "", regex=False)
)

df["price"] = pd.to_numeric(df["price"], errors="coerce")

In [4]:
output_path = "../data/processed/products_clean.csv"
os.makedirs(os.path.dirname(output_path), exist_ok=True)

df.to_csv(output_path, index=False)
print("✅ Cleaned data saved")

df.describe()

✅ Cleaned data saved

       product_name         price  supplier_name  supplier_location
count           0.0  1.200000e+01            0.0                0.0
mean            NaN  8.216268e+05            NaN                NaN
std             NaN  1.240516e+06            NaN                NaN
min             NaN  7.200000e+04            NaN                NaN
25%             NaN  1.453150e+05            NaN                NaN
50%             NaN  3.900000e+05            NaN                NaN
75%             NaN  8.625000e+05            NaN                NaN
max             NaN  4.500000e+06            NaN                NaN